<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create author</title>
</head>
<body>
<form method="post" >
    <H1>Создание ногово автора</H1>
    <p>ФИО* <input type="text" name="name" value="{{ author.name|default }}">
    {{ error.name|default }}</p>

    <p>Дата рождения <input type="date" name="dateOfBirth" value="{{ author.dateOfBirth|default }}">
    {{ error.date|default }}</p>

    <p>Телефон <input type="tel" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" name="phone" value="{{ author.phone|default }}" placeholder="+7(999)-999-99-99">
    {{ error.phone|default }}</p>

    <p>Электронная почта* <input type="email" name="email" value="{{ author.email|default }}">
    {{ error.email|default }}</p>
    <input name="create" type="submit" value="Создать">
    <input name="back" type="submit" value="Вернуться">
</form>
</body>
</html>
