<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>
<form method="post">
    <h1>Автор</h1>
    <p>ФИО <input name="name" type="text" value={{ author.name }}>
        {{ error.name|default }}</p>

    <p>Дата рождения <input name="dateOfBirth" type="date" value={{ author.dateOfBirth is empty ? "" : author.dateOfBirth|date("Y-m-d") }}></p>

    <p>Телефон <input name="phone"  type="tel" pattern="^((8|\+[1-9])[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"
                      value="{{ author.phone|default }}" placeholder="+7(999)-999-99-99"></p>

    <p>Почта <input name="email" type="text" value={{ author.email }}>
        {{ error.email|default }}</p>

    <p>Количество книг
    {{ author.countbook| default("0") }}</p>

    <input name="back" type="submit" value="Вернуться">
    <input name="edit" type="submit" value="Применить">
</form>
</body>
</html>
