<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" id="form">
    <h1>Книга</h1>
    <label>Название</label>
    <input name="title" type="text" value={{ book.title }}><br>
    <label>Описание</label>
    <textarea name="description">{{ book.description }}</textarea><br>
    <label>Дата выпуска</label>
    <input name="year" type="date" value={{ book.year|date("Y-m-d")  }}><br>
    <label>Обложка</label><br>
    <img  src="{{ asset('/image/' ~ book.image)}}" width="200" id="myimage"><br>
    Изменить обложку<br>
    <input type="file" name="image" onchange="onFileSelected(event)"><br><br>

    Выбранные авторы<br>
    <select  size="{{ chooseAuthors|length }}" id="authorChoose" onDblClick="chooseAuthor('authorChoose', 'authorList')">
        {% for author in chooseAuthors %}
            <option value ={{ author.id }}> {{ author.name }}</option>
        {% endfor %}
    </select><br>
    Авторы<br>
    <select size="{{ authors|length }}" id="authorList" onDblClick="chooseAuthor('authorList', 'authorChoose')">
        {% for author in authors %}
            <option value ={{ author.id }}> {{ author.name }}</option>
        {% endfor %}
    </select><br>

    <input name="edit" type="submit" value="Изменить" onclick="createArray()"><br>
    <input name="back" type="submit" value="Вернуться"><br>
</form>
</body>
<script src="{{ asset('/jsScript/Books.js')}}"></script>
</html>
