<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<form method="post">
    <h1>Книги</h1>
    <p><input name="create" type="submit" value="Создать новую книгу"></p>
    <p><input name="edit" type="submit" value="Посмотреть и изменить выбранную книгу"></p>
    <p><input name="remove" type="submit" value="Удалить выбранную книгу"></p>
    <p><input name="back" type="submit" value="Вернуться"></p>
    <p><select  size="{{ books|length }}" name="book">
        {% for book in books %}
            <option value ={{ book.id }}>{{ loop.index }}) {{ book.title }}</option>
        {% endfor %}
    </select></p>

    <div>
        <p><input name="typeSort" type="radio" value="titleUp" checked {% if filterSort.sort|default == "titleUp" %}checked{% endif %}>По названию по возрастанию
        <input name="typeSort" type="radio" value="titleDown" {% if filterSort.sort|default == "titleDown" %}checked{% endif %}>по убыванию</p>
        <p><input name="typeSort" type="radio" value="authorUp" {% if filterSort.sort|default == "authorUp" %}checked{% endif %}>По количеству авторов по возрастанию
        <input name="typeSort" type="radio" value="authorDown" {% if filterSort.sort|default == "authorDown" %}checked{% endif %}>по убыванию</p>
        <p><input name="typeSort" type="radio" value="dateUp" {% if filterSort.sort|default == "dateUp" %}checked{% endif %}>По дате по возрастанию
        <input name="typeSort" type="radio" value="dateDown" {% if filterSort.sort|default == "dateDown" %}checked{% endif %}>по убыванию</p>
    </div>
    <div>
        <p>Поиск по названию <input name="filterTitle" value="{{ filterSort.titleFilter|default }}"></p>
        <p>От <input name="dateStart" type="date" value={{ filterSort.dateStart|default is empty ? "" : filterSort.dateStart|date("Y-m-d") }}></p>
        <p>До <input name="dateEnd" type="date" value={{ filterSort.dateEnd|default  is empty ? "" : filterSort.dateEnd|date("Y-m-d") }}></p>
        <p>По количеству авторов </p>
        <p><input name="countAuthorStart" value="{{ filterSort.countAuthorStart|default }}"></p>
        <p><input name="countAuthorEnd" value="{{ filterSort.countAuthorEnd|default }}"></p>
        <p><input name="imageFilter" type="radio" value="all" checked {% if filterSort.imageFilter|default == "all" %}checked{% endif %}> Все</p>
        <p><input name="imageFilter" type="radio" value="imageExist" {% if filterSort.imageFilter|default == "imageExist" %}checked{% endif %}> есть обложка</p>
        <p><input name="imageFilter" type="radio" value="imageNotExist" {% if filterSort.imageFilter|default == "imageNotExist" %}checked{% endif %}> нет обложки</p>
    </div>
    <input name="sorted" type="submit" value="Сортировать">
</form>
</body>
<script src="{{ asset('/jsScript/Books.js')}}"></script>
</html>
